Repository melishev/wuki, pull requests merged in 2021-12, with the labels that each got.

#57 refactor: ♻️ add global helpers, global PropTypes and comments, rewrote styles, remove trash, reset StoryBook style
  .github/workflows/release.yml
  .storybook/main.js
  .storybook/preview.js
  components/col/index.jsx
  components/col/styles.js
  components/grid/index.stories.jsx
  components/provider/index.jsx
  components/row/index.jsx
  components/row/styles.js
  components/typography/index.jsx
  components/typography/index.stories.jsx
  components/typography/styles.js
  components/utils/helpers.js
  components/utils/theme/typography.js
  package-lock.json
  package.json
  release.config.js
Labels: scope: global 🛠, type: fix 🐛

#60 refactor: ♻️ rename component Typography to Text
  components/index.js
  components/text/index.jsx
  components/text/index.stories.jsx
  components/text/readme.mdx
  components/text/styles.js
Labels: scope: components 🧸

#61 fix: 🐛 rename components Col and Row to Grid
  components/grid/index.jsx
  components/grid/index.stories.jsx
  components/grid/styles.js
  components/index.js
  components/row/index.jsx
  components/row/styles.js
  components/text/index.stories.jsx
Labels: scope: components 🧸, type: fix 🐛

#62 docs: 📝 add Code of Conduct
  .github/CODE_OF_CONDUCT.md
Labels: scope: global 🛠, type: docs 📝

#63 ci: 🤖 install husky, remove unused script
  .husky/pre-commit
  package-lock.json
  package.json
Labels: scope: global 🛠

#66 chore: 🔗 change command for prepare commit, remove unused scripts, remove unused deps, add devmoji
  .husky/prepare-commit-msg
  package-lock.json
  package.json
Labels: type: feat 📦

#67 ci(semver): 👷 return default config semantic-release
  .github/workflows/release.yml
  release.config.js
Labels: type: ci 👷

#68 docs: 📚️ Add a Codacy badge to README.md
  README.md
Labels: type: docs 📝

#69 feat(components): ✨ add config for tests
  .babelrc
  .eslintignore
  .eslintrc
  .husky/pre-commit
  .storybook/main.js
  .storybook/preview.js
  .vscode/settings.json
  components/grid/index.jsx
  components/text/docs.mdx
  components/text/index.stories.jsx
  components/text/index.test.jsx
  components/text/styles.js
  components/utils/setupTests.jsx
  jest.config.js
  package-lock.json
  package.json
Labels: scope: components 🧸

#74 ci(github): 👷 add coverage report
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  jest.config.js
Labels: type: ci 👷, type: test 🚨

#72 test: 🚨 add tests for Provider
  components/provider/index.test.jsx
  components/text/index.stories.jsx
  components/text/index.test.jsx
Labels: type: test 🚨

#75 perf(styles): ⚡️ shortened the name of the styles
  .gitignore
  components/grid/index.jsx
  components/grid/index.test.jsx
  components/grid/styles.js
Labels: type: test 🚨

#76 test: 🚨 add tests for Text
  .github/workflows/coverage.yml
  components/text/index.test.jsx
Labels: type: test 🚨

#80 perf(styles): ⚡️ changed the reference to styles
  components/grid/index.jsx
  components/grid/styles.js
Labels: type: perf ⚡️

#70 build: 📦️ add styles and logo, add new plugin for StoryBook
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/themeCustom.js
  components/grid/doc.mdx
  components/grid/index.jsx
  components/grid/index.stories.jsx
  components/index.js
  components/text/docs.mdx
  components/text/index.jsx
  components/utils/helpers.js
  package-lock.json
  package.json
Labels: type: docs 📝, scope: StoryBook 📕

#86 fix(components): 🐛 add the ability to add custom props
  .eslintrc
  components/text/index.jsx
Labels: scope: components 🧸

#87 feat(storybook): ✨ add locale to StoryBook
  .storybook/i18next.js
  .storybook/main.js
  .storybook/preview.js
  components/grid/doc.mdx
  components/text/docs/index.mdx
  components/text/docs/locales/en.json
  components/text/docs/locales/ru.json
  components/text/index.stories.jsx
  package-lock.json
  package.json
Labels: type: docs 📝, scope: StoryBook 📕

#88 feat(theme): ✨ add color system
  .storybook/main.js
  .storybook/preview.js
  .storybook/themeCustom.js
  components/utils/theme/colors.js
  components/utils/theme/grid.js
  components/utils/theme/index.js
  components/utils/theme/type.js
  components/utils/theme/typography.js
Labels: type: feat 📦, scope: global 🛠

#85 docs(components): 📚️ added documentation on Grid
  components/grid/doc.mdx
  components/grid/docs/index.mdx
  components/grid/docs/locales/en.json
  components/grid/docs/locales/ru.json
  components/grid/index.jsx
  components/grid/index.stories.jsx
Labels: scope: components 🧸, type: docs 📝

#89 fix(components): 🐛 fix error with propTypes
  components/text/docs/index.mdx
  components/text/index.jsx
Labels: scope: components 🧸, type: fix 🐛

#81 feat(components): ✨ added new component - Code
  .eslintrc
  .storybook/helpers/i18next.js
  .storybook/main.js
  components/code/docs/index.mdx
  components/code/docs/locales/en.json
  components/code/docs/locales/ru.json
  components/code/index.jsx
  components/code/index.stories.jsx
  components/code/index.test.jsx
  components/code/styles.js
  components/index.js
  components/utils/theme/colors.js
  package-lock.json
  package.json
Labels: scope: components 🧸

#90 perf: ⚡️ Beta release
  .eslintrc
  .github/workflows/checkPullRequest.yml
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/semanticPR.yml
  .gitignore
  .storybook/helpers/i18next.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/themeCustom.js
  components/code/docs/index.mdx
  components/code/docs/locales/en.json
  components/code/docs/locales/ru.json
  components/code/index.jsx
  components/code/index.stories.jsx
  components/code/index.test.jsx
  components/code/styles.js
  components/grid/docs/index.mdx
  components/grid/docs/locales/en.json
  components/grid/docs/locales/ru.json
  components/grid/index.jsx
  components/grid/index.stories.jsx
  components/grid/index.test.jsx
  components/grid/styles.js
  components/index.js
  components/provider/index.test.jsx
  components/text/docs/index.mdx
  components/text/docs/locales/en.json
  components/text/docs/locales/ru.json
  components/text/index.jsx
  components/text/index.stories.jsx
  components/text/index.test.jsx
  components/utils/helpers.js
  components/utils/theme/colors.js
  components/utils/theme/grid.js
  components/utils/theme/index.js
  components/utils/theme/type.js
  components/utils/theme/typography.js
  components/utils/wrapperTests.jsx
  jest.config.js
  package-lock.json
  package.json
Labels: scope: global 🛠, type: perf ⚡️
